# Market Basket Analysis

In [ ]:
import pandas as pd
import numpy as np
from mlxtend.frequent_patterns import apriori
from mlxtend.preprocessing import TransactionEncoder
from mlxtend.frequent_patterns import association_rules

pd.set_option('display.max_columns', 20)
pd.set_option('display.width', 800)

In [20]:
# List containing the elements of each purchase
dataset = [['Milk', 'Water', 'Wheat', 'Kidney Beans', 'Eggs', 'Yogurt'],
           ['Dill', 'Onion', 'Wheat', 'Kidney Beans', 'Eggs', 'Yogurt'],
           ['Milk', 'Apple'],
           ['Milk', 'Apple', 'Wheat'],
           ['Milk', 'Apple', 'Kidney Beans', 'Eggs', 'Wheat'],
           ['Milk', 'Apple', 'Honey', 'Eggs'],
           ['Milk', 'Beer', 'Corn', 'Kidney Beans', 'Yogurt'],
           ['Corn', 'Onion', 'Onion', 'Kidney Beans', 'Ice cream', 'Eggs']]

In [21]:
# Transaction Encoder transforms the dataset into a matrix where each row(purchase) has bool values for all of the possible elements
te = TransactionEncoder()

# Inserting the dataset into TE and creating a dataframe
model = te.fit(dataset)
trans_model = model.transform(dataset)
df = pd.DataFrame(trans_model, columns=te.columns_)
df

   Apple   Beer   Corn   Dill   Eggs  Honey  Ice cream  Kidney Beans   Milk  Onion  Water  Wheat  Yogurt
0  False  False  False  False   True  False      False          True   True  False   True   True    True
1  False  False  False   True   True  False      False          True  False   True  False   True    True
2   True  False  False  False  False  False      False         False   True  False  False  False   False
3   True  False  False  False  False  False      False         False   True  False  False   True   False
4   True  False  False  False   True  False      False          True   True  False  False   True   False
5   True  False  False  False   True   True      False         False   True  False  False  False   False
6  False   True   True  False  False  False      False          True   True  False  False  False    True
7  False  False   True  False   True  False       True          True  False   True  False  False   False

In [22]:
# Support = amount of rows which contain the itemset / total amount of rows
freq_itemset = apriori(df, min_support=0.2, use_colnames=True)
print(freq_itemset.sort_values("support", ascending=False))

    support                             itemsets
4     0.750                               (Milk)
2     0.625                               (Eggs)
3     0.625                       (Kidney Beans)
0     0.500                              (Apple)
6     0.500                              (Wheat)
9     0.500                        (Milk, Apple)
12    0.500                 (Kidney Beans, Eggs)
7     0.375                             (Yogurt)
17    0.375                 (Kidney Beans, Milk)
28    0.375          (Kidney Beans, Wheat, Eggs)
21    0.375                        (Wheat, Milk)
20    0.375               (Kidney Beans, Yogurt)
13    0.375                         (Milk, Eggs)
19    0.375                (Kidney Beans, Wheat)
15    0.375                        (Wheat, Eggs)
27    0.250          (Kidney Beans, Onion, Eggs)
29    0.250         (Kidney Beans, Yogurt, Eggs)
30    0.250                  (Wheat, Milk, Eggs)
34    0.250        (Yogurt, Wheat, Kidney Beans)
31    0.250                (Yogurt, Wheat, Eggs)
25    0.250                 (Milk, Wheat, Apple)
32    0.250          (Kidney Beans, Wheat, Milk)
33    0.250         (Kidney Beans, Yogurt, Milk)
35    0.250    (Kidney Beans, Wheat, Milk, Eggs)
26    0.250           (Kidney Beans, Milk, Eggs)
18    0.250                (Kidney Beans, Onion)
24    0.250                  (Milk, Apple, Eggs)
23    0.250                      (Yogurt, Wheat)
22    0.250                       (Yogurt, Milk)
1     0.250                               (Corn)
16    0.250                       (Yogurt, Eggs)
14    0.250                        (Onion, Eggs)
11    0.250                 (Kidney Beans, Corn)
10    0.250                       (Wheat, Apple)
8     0.250                        (Apple, Eggs)
5     0.250                              (Onion)
36    0.250  (Yogurt, Wheat, Eggs, Kidney Beans)

In [25]:
# Antecedents: A purchase containing a set of A items
# Consequents: has following metrics for containing a set of B items:      
# Antecedent and consequent support: support for A and for B               --> Each xth purchase contains A; Each yth purchase contains B
# Support: support for A union B                                           --> Each xth purchase contains A union B
# Confidence: (A union B) / A                                              --> Each xth purchase of A, B is purchased as well 
# Lift: confidence / consequent support                                    --> lift > 1: Presence of A increases probability of purchase containing B. Strength of association between A and B
# Legerage: <to be added>
# Conviction: <to be added>

rules = association_rules(freq_itemset, metric="lift", min_threshold=2)
print(rules)

                     antecedents                   consequents  antecedent support  consequent support  support  confidence      lift  leverage  conviction
0           (Kidney Beans, Eggs)                       (Onion)               0.500               0.250     0.25    0.500000  2.000000   0.12500        1.50
1                        (Onion)          (Kidney Beans, Eggs)               0.250               0.500     0.25    1.000000  2.000000   0.12500         inf
2                 (Yogurt, Eggs)                       (Wheat)               0.250               0.500     0.25    1.000000  2.000000   0.12500         inf
3                        (Wheat)                (Yogurt, Eggs)               0.500               0.250     0.25    0.500000  2.000000   0.12500        1.50
4     (Kidney Beans, Milk, Eggs)                       (Wheat)               0.250               0.500     0.25    1.000000  2.000000   0.12500         inf
5                        (Wheat)    (Kidney Beans, Milk, Eggs)               0.500               0.250     0.25    0.500000  2.000000   0.12500        1.50
6   (Kidney Beans, Yogurt, Eggs)                       (Wheat)               0.250               0.500     0.25    1.000000  2.000000   0.12500         inf
7                (Yogurt, Wheat)          (Kidney Beans, Eggs)               0.250               0.500     0.25    1.000000  2.000000   0.12500         inf
8                 (Yogurt, Eggs)         (Kidney Beans, Wheat)               0.250               0.375     0.25    1.000000  2.666667   0.15625         inf
9          (Kidney Beans, Wheat)                (Yogurt, Eggs)               0.375               0.250     0.25    0.666667  2.666667   0.15625        2.25
10          (Kidney Beans, Eggs)               (Yogurt, Wheat)               0.500               0.250     0.25    0.500000  2.000000   0.12500        1.50
11                       (Wheat)  (Kidney Beans, Yogurt, Eggs)               0.500               0.250     0.25    0.500000  2.000000   0.12500        1.50

<b>Interpretation of the table above:<br></b>
Kidney Beans and Eggs are bought together in 50% of all purchases. Onions are purchased 25% of the time. <br> 
When someone purchases Kidney Beans and Eggs together, they are 2 times as likely than normal to purchase Onions as well.